<h1>
  {{title}}
</h1>
<h3>State Changes: {{stateChanges}}</h3>
<nav>
    <a (click)="newStateChange()" routerLink="/" routerLinkActive="active">First Component</a>
    <a (click)="newStateChange()" routerLink="/second-component" routerLinkActive="active">Second Component</a>
    <a (click)="newStateChange()" routerLink="/third-component" routerLinkActive="active">Third Component</a>
    <a (click)="newStateChange()" routerLink="/fourth-component" routerLinkActive="active">Fourth Component</a>
</nav>
<router-outlet></router-outlet>